@page
@model CheburFace.Pages.UserServiceUI.MainPage

@{
    Layout = "Shared/_Layout_logged";
}

<div class="main-divider">
    <div class="left-part bg-opacity-75" style="background-image: url(@Html.Raw("/Resources/beresta.png")">
        <div class="User-header-grid user-header-text">
            @* Current user header *@
            <div style="grid-column: 1/3;">
                <label>Текущий пользователь:</label>
            </div>
            @* Current user name *@
            <div>
                <label>Имя:</label>
            </div>
            <div>
                <label>@Model.CurrentUser!.FirstName</label>
            </div>
            @* Current user surname *@
            <div>
                <label>Фамилия:</label>
            </div>
            <div>
                <label>@Model.CurrentUser.LastName</label>
            </div>
        </div>

        <p class="messages-header">Сообщения:</p>
        
        @foreach (var message in Model.Messages)
        {
            @if (message.IsFromMe)
            {
                <div class="message-right">
                    <div class="message-header">кому @message.Recipient:</div>
                    <form asp-route-id="@message.Id" method="post" asp-page-handler="DeleteMessage">
                        <button class="del-image" type="submit"></button>
                    </form>
                    <div class="message-text">@message.Content</div>
                </div>
            }
            else
            {
                <div class="message-left">
                    <div class="message-header">от @message.Sender:</div>
                    <form asp-route-id="@message.Id" method="post" asp-page-handler="DeleteMessage">
                        <button class="del-image" type="submit"></button>
                    </form>
                    <div class="message-text">@message.Content</div>
                </div>
            }
        }
        <form method="post">
            <textarea name="Message" class="sent-message" data-val="true" data-val-required="The Message field is required." id="Message"></textarea>
            <div class="">
                <div class="">
                    <input class="recipient-label" asp-for="RecipientEmail" type="text" placeholder="Почта получателя" name="RecipientEmail" data-val="true" data-val-required="The Recipient field is required." id="RecipientEmail">
                    <input class="my-send-button" type="submit" asp-page-handler="SendMessage" value="Отправить сообщение!">
                </div>
            </div>
        </form>
        <p class="" style="color: red; font-size: 30px">
            @foreach (var str in Model.ErrorMessage)
            {
                @str<br>
            }
        </p>
    </div>
    
    <div class="right-part">
        <div class="d-flex flex-column">
            <div>
                <div class="photo">
                    <img class="col-12" alt="It's your photo" src="@Url.Content("~/Images/" + Model.CurrentUser.Id + ".jpg")"/>
                </div>
            </div>
            <form class="d-flex flex-row justify-content-between" method="post" asp-page-handler="LoadPhoto" enctype="multipart/form-data">
                <label for="UpFile" class="my-button p-1">
                    <span>Выбрать фото</span>
                </label>
                <input style="display: none;" type="file" asp-for="Upload" id="UpFile" accept=".jpg"/>
                <label for="applyPhoto" class="my-button p-1">
                    <span>Применить</span>
                </label>
                <input style="display: none;" type="submit" id="applyPhoto"/>
            </form>
            <p class="text-center mt-3 mb-1" style="font-size: 1.3rem; font-weight: 900;">Список друзей</p>
            <ul class="mx-auto p-0 col-11">

                @foreach (var friend in Model.Friends)
                {
                    <a class="mt-2 list-group-item list-group-item-action @if (Model.FriendFilter == friend.Id) {@Html.Raw("active")}" href="/UserServiceUI/MainPage?FriendFilter=@friend.Id&RecipientEmail=@friend.EMail">@friend.FirstName @friend.LastName</a>
                }

            </ul>
            <a href="/UserServiceUI/AddFriend">
                <button class="d-flex shadow btn btn-primary mx-auto" type="button">Хочу больше друзей!</button>
            </a>
        </div>
        
    </div>
</div>




